/*-----------------------------------------------*/
/* CSS stylesheet for Sourav Sen Gupta's website */
/*-----------------------------------------------*/

body {
    margin: 0;
    font: 14px/1.6 Raleway, Georgia, serif;
    color: #222222;
    background: #ffffff;
}

/*-----------------------------------------------*/
#header {
    clear: both;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #770f0f;
    font: 400 90px Italianno, Georgia, serif;
    color: #ffffff;
}
#header-content {
    margin: 0 auto ;
    padding: 0;
    width: 1000px;
    background: url(slide.jpg) no-repeat left; 
    background-size: 65px;
}
/*-----------------------------------------------*/

#menu {
    clear: both;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 100px;
    background: #f2f1eb;
}
#menu-content {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}
#left-menu {
    float: left;
    font: 18px/1.6 Raleway, Georgia, serif;
}
#left-menu ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#left-menu ul li {
    float: left;
    margin: 0 30px 0 0;
}
#left-menu ul li a {
    display: block;
    text-decoration: none;
    border: none;
    color: #222222;
}
#left-menu ul li a:hover {
    color: #222222;
    border-bottom: 2px solid #770f0f;
}
#right-menu {
    float: right;
    font: 14px/1.6 Raleway, Georgia, serif;
}
#right-menu ul {
    float: right;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#right-menu ul li {
    float: left;
    margin: 6px 0 0 30px;
}
#right-menu ul li a {
    display: block;
    text-decoration: none;
    border: none;
    color: #222222;
}
#right-menu ul li a:hover {
    color: #222222;
    border-bottom: 2px solid #770f0f;
}

#menugap {
    clear: both;
    height: 20px;
    width: 100%;
    position: fixed;
    top: 140px;
    background: #ffffff;
}

/*-----------------------------------------------*/

#container {
    clear: both;
    margin: 120px auto 0 auto;
}

#main-photo-frame {
    clear: both;
    width: 1000px;
    margin: 0 auto;
}

#content {
    clear: both;
    width: 1000px;
    margin: 0 auto;
}

/*-----------------------------------------------*/

#footer {
    clear: both;
    margin: 20px auto 0 auto;
    width: 100%;
    min-height: 50px;
    background: #770f0f;
    color: #ffffff;
}
#footer-content {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/*-----------------------------------------------*/

#left-column {
    float: left;
    width: 400px;
    margin: 0;
    padding: 0;
}

#mid-column {
    float: left;
    width: 400px;
    margin: 0 0 0 50px;
    padding: 0;
}

#left-mid-column {
    float: left;
    width: 650px;
    margin: 0;
    padding: 0;
}


/*-----------------------------------------------*/

.pubinfo {
    font: 12px/1.6 Raleway, Georgia, serif;
}

img.right-photo-frame {
    width: 300px;
    clip:rect(0px,60px,200px,0px);
}

.clear {
    clear: both;
}

.drawer {
    clear: both;
    padding: 10px;
    background: #f2f1eb;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/*-----------------------------------------------*/

ul {
    padding: 0px 0 5px 0;
    margin: 0;
    list-style: none;
}
.pos li {
    padding-left: 25px;
    background: url(images/office.png) no-repeat;
    background-position: left center;
}
.deg li {
    padding-left: 25px;
    background: url(images/degree.png) no-repeat;
    background-position: left center;
}
.lin li {
    padding-left: 25px;
    background: url(images/link.jpg) no-repeat;
    background-position: left center;
}
.pub li {
    margin-bottom: 10px;
    padding-left: 25px;
    background: url(images/paper.png) no-repeat;
    background-position: left top;
}
.syn li {
    margin-bottom: 10px;
    padding-left: 25px;
    background: url(images/synergy.png) no-repeat;
    background-position: left top;
}
.mem li {
    padding-left: 25px;
    background: url(images/member.png) no-repeat;
    background-position: left center;
}
.new li {
    padding-left: 25px;
    background: url(images/new.png) no-repeat;
    background-position: left center;
}
.old li {
    padding-left: 25px;
    background: url(images/old.png) no-repeat;
    background-position: left center;
}
.syl li {
    margin-bottom: 10px;
    padding-left: 25px;
    background: url(images/syllabus.png) no-repeat;
    background-position: left center;
}

/*-----------------------------------------------*/

a {
    color: #770f0f;
    text-decoration: none;
}
a:hover {
    color: #770f0f;
    text-decoration: none;
    border-bottom: 1px solid #770f0f;
}
a:visited {
    color: #770f0f;
    text-decoration: none;
}

a.anchor {
    position: relative; 
    top: -170px; 
    visibility: hidden;
}

a.download {
	background: url(images/download.png) no-repeat left top;
	margin-right: 5px;
	padding-left: 16px;
	font: 12px/1.6 Raleway, Georgia, serif;
	text-decoration: none;
}
a.download:hover {
	border: 0;
}

/*-----------------------------------------------*/

h1 {
    margin-top: 50px;
    color: #770f0f;
}

h2 {
    margin-top: 50px;
}

hr.divider {
    border: 0;
    border-bottom: 1px dashed #770f0f;
    background: #ffffff;
}

/*-----------------------------------------------*/

#one-column-emphasis
{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#one-column-emphasis th
{
    font: 16px/1.6 Raleway, Georgia, serif;
	padding: 12px 15px;
	color: #903;
}
#one-column-emphasis td
{
	padding: 10px 15px;
	border-top: 1px solid #dddddd;
}
.oce-first
{
    background: #f2f1eb;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

/*-----------------------------------------------*/
